.inventory-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  color: #4c4c4c;
  font-size: 12px;
  font-weight: 300;
  padding: 0.2em;
  margin: 0 10px 0 10px;

  .inventory-waist {
    font-size: 11px;
    padding: 0.3em 0 0.3em 0;
    text-align: center;
    width: 2em;
    background: #ffffff;
  }

  .inventory-length {
    font-size: 11px;
    padding: 0.3em 0 0.3em 0;
    text-align: center;
    margin-left: 2.5em;
    margin-right: 2.5em;
    width: 2em;
    background: #ffffff;
  }

  .inventory-count {
    font-size: 11px;
    padding: 0.3em 0 0.3em 0;
    text-align: center;
    width: 2em;
    background: #ffffff;

  }
}
