.inventory-list-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #f4f4f4;

    .inventory-list-style {
      padding: 1em 1em 3.5em 1em;
      border-right: 10px solid #ffffff;
      flex: auto;
      max-height: 650px;

      .inventory-style-name {
        text-align: center;

        h3 {
          padding-top: 0.5em;
          font-size: 18px;
          font-weight: bold;
        }
      }

      .inventory-headers {
         display: flex;
         justify-content: space-between;;
         align-items: center;
         font-family: 'Harriet Text Light','Playfair Display', serif;
         padding-top: 0.3em;
         text-align: center;
         font-size: 14px;

        .inventory-headers-waist {
          padding-left: 0.5em;
        }

        .inventory-headers-length {

        }
        .inventory-headers-count {
          margin-right: 0.5em;
        }
      }
    .inventory-item-container {

    }
    }
}
