.inventory-list-container {
  background-color: #f4f4f4;
  border: 10px solid #f4f4f4;
  padding: 1em 2em 1em 1em;

  .inventory-list {

    .inventory-list-style {
      font-size: 16px;
      font-weight: 500;

    }
  }
}
