  .product-container {
    display :flex;
    flex-direction: row;
    justify-content: center;;
    max-width: 1200px;
    margin-bottom: 40px;

    .product-information {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border: 10px solid #f4f4f4;
      padding: 10px;
      max-width: 400px;

      .product-name {
        padding: 0.5em;
        font-size: 40px;
        font-weight: 900;
      }

      .product-description {
        font-family: "Harriet Text Light";
        text-align: center;
        font-weight: lighter;
        font-size: 18px;
        color: #4c4c4c
      }

      .product-image {
        padding-top: 2em;
        max-height: 400px;
        max-width: 400px;
      }
    }

    .product-inventory-list {
      padding-left: 4em;
      list-style: none;
    }
  }
