html, body, section, article, div, label, input, form, header,
h1, h2, h3, p, ul, strong, em, a, li, button, svg {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  font-family: inherit;
  text-decoration: inherit;
  list-style: none;
  color: inherit;
  background: transparent;
}

body {
  font-family: 'San Fransisco', "Neue Helvetica", sans-serif;
  font-size: 14px;
  background: #ffffff;
}

.app-container {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 60px;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
  background: #ffffff;
}
